{% extends 'second_base.html' %}
{% load static %}

{% block header %}CALL FOR PAPERS{% endblock %}

{% block main %}

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-after-navbar" id="form1-54346" style="background-color: #efefef;">

  <div class="mbr-section__container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 mbr-section__container--std-padding container mbr-section--full-height" style="background-color:white;">

            <div class="col-sm-10 col-sm-offset-1">

              <h3>Lorem ipsum</h3>

              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc pharetra bibendum justo eu dapibus. Sed tempus fringilla lorem, vitae ultricies tellus blandit sagittis. Curabitur id augue lorem. Vestibulum aliquam justo at gravida tristique. Vestibulum sed rutrum nisl. Maecenas mollis pellentesque vulputate. Proin maximus urna et purus iaculis, non auctor justo elementum. Vivamus tempor dui vel magna pellentesque, id venenatis nisi laoreet. Pellentesque eu dui sagittis leo gravida eleifend.
              </p>
              <p>
                Etiam eget lacus varius, lacinia neque vitae, consequat lectus. Nunc felis tellus, venenatis eleifend gravida a, porta sed leo. Mauris ac faucibus nisi. Nulla facilisi. Sed tempus orci nec ante finibus elementum. In et volutpat felis, et rhoncus neque. Praesent vel est dui. Phasellus enim magna, venenatis ut urna quis, maximus convallis quam. In nec sollicitudin orci. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque mollis augue sed euismod interdum.
              </p>
              <p>
                Curabitur vitae risus laoreet lacus elementum bibendum. Morbi blandit eu felis et aliquet. Vivamus lacinia elit eu mi laoreet, quis eleifend tellus dignissim. Sed sodales bibendum sapien vitae mollis. Pellentesque id consequat elit. Nam hendrerit nisl non gravida consequat. Vestibulum tristique scelerisque nunc vel porta. Proin consectetur bibendum libero, ut scelerisque ipsum facilisis vitae. Fusce laoreet vitae lectus sed iaculis.
              </p>
              <p>
                Quisque cursus tincidunt dui, malesuada consectetur eros pharetra vitae. Pellentesque congue vulputate justo pharetra vulputate. In risus lorem, fermentum eget lorem ut, fermentum vestibulum nisl. Pellentesque ac dui ac lectus eleifend bibendum non et dui. Nunc neque ligula, viverra ut hendrerit eget, placerat ut arcu. Morbi fringilla sapien ac nisi viverra luctus. Etiam justo elit, feugiat ut dui sed, facilisis sagittis nibh. Quisque at convallis nisl, eu condimentum dolor. Mauris viverra orci vel metus condimentum sollicitudin. Pellentesque fermentum tincidunt iaculis. Nulla facilisi. Sed efficitur elit justo, ut bibendum est tempus eget.
              </p>
              <p>
                Mauris vel tincidunt eros. Fusce faucibus metus in augue malesuada, vitae mollis augue placerat. Aenean nunc mauris, pulvinar eget velit non, viverra volutpat neque. Etiam suscipit at leo et viverra. Duis pharetra posuere nulla sed faucibus. Praesent dolor justo, bibendum sollicitudin dictum varius, porta vel lectus. Duis mollis porta bibendum.

              </div>

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
