{% extends 'second_base.html' %}
{% load static %}

{% block header %}CALL FOR PAPERS{% endblock %}

{% block main %}

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-after-navbar" id="form1-54346" style="background-color: #efefef;">

  <div class="mbr-section__container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 mbr-section__container--std-padding container mbr-section--full-height" style="background-color:white;">

            <div class="col-sm-10 col-sm-offset-1">

	      <p>
		The 28th Meeting of Computational Linguistics in The Netherlands (CLIN 28) will be organised by the Centre for Language Studies at Radboud University. CLIN 28 will take place in Nijmegen, The Netherlands on January 26, 2018.

              <h3>Abstract submission information</h3>

              <p>
		Researchers are invited to submit, in English, abstracts describing work on all aspects of computational linguistics and related language and speech technologies and applications.

		Submissions should include: 
		<ul>
		  <li> Name, affiliation and contact details of each author</li>
		  <li> Presentation title</li>
		  <li> An abstract of 250 words maximum (excluding references), outlining their presentation</li>
		  <li> A stated preference for oral presentation or poster</li>
		</ul>

		Presentation abstracts should be submitted electronically, no later than November 3rd, 2017 (12PM, GMT/UTC + 01:00 hour) via the submission website at EasyChair.

              </p>

	      <h3>STIL Thesis Prize</h3>

              <p>
		Since CLIN 20, a special annual thesis prize, sponsored by STIL, is awarded to the best Master thesis in computational linguistics. STIL is the Stichting Toepassing Inductieve Leertechnieken.

Master theses submitted to and evaluated at a university or organization of higher education in the Netherlands or Flanders are eligible for the prize. The thesis should address a topic in computational linguistics or its applications, and may be written in Dutch or English.
              </p>

	      <h3>Shared Task</h3>

              <p>
		CLIN 28 will include a shared task on spelling correction for Dutch. More details coming soon. 
              </p>

              </div>

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
