{% extends 'second_base.html' %}
{% load static %}

{% block header %}IMPORTANT DATES{% endblock %}

{% block main %}

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-after-navbar" id="form1-54346" style="background-color: #efefef;">

  <div class="mbr-section__container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 mbr-section__container--std-padding container mbr-section--full-height" style="background-color:white;">

            <div class="col-sm-10 col-sm-offset-1">

            {% for section in dates_list %}

              <h4 style="font-size:2em; font-weight:700; color: #1c496e;">{{ section.title }}</h4>

              <p style="font-size: 1em;">
              {% for date in section.dates %}

                {% if date.active %}

                <b>{{ date.text }}:</b> {{ date.date }} <br>

                {% else %}

                <span style="text-decoration: line-through;"><b>{{ date.text }}:</b> {{ date.date }} <br></span>

                {% endif %}

              {% endfor %}
              </p>

              <br>
            {% endfor %}
            </div>

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
