{% extends 'second_base.html' %}
{% load static %}

{% block header %}PARTICIPANT DATA{% endblock %}

{% block main %}

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-after-navbar" id="form1-54346" style="background-color: #efefef;">

  <div class="mbr-section__container mbr-section__container--std-padding container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">

          <table class="participant-table">
            <tr>
              <th>Name & Email</th>
              <th>Time</th>
            </tr>
            {% for p in participant_list %}
            <tr>
              <td>{{ p.name }}<br><h5>{{ p.email }}</h5></td>
              <td>{{ p.registration_time }}</td>
            </tr>
            {% endfor %}
            <tr>
              <th>Total: {{ counts.total }}</th>
              <th>-</th>
            </tr>
          </table>

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
