{% extends 'second_base.html' %}
{% load static %}

{% block header %}PHOTO GALLERY{% endblock %}

{% block pageBasedCSS %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css">
{% endblock %}

{% block main %}

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted" id="form1-54346" style="background-color: #efefef;">
  <div class="mbr-section__container">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-8 col-sm-offset-2 mbr-section__container--std-padding container" style="background-color:white;" >

          <p class="imglist" style="padding-left:15px;">

            <a href="https://source.unsplash.com/eWFdaPRFjwE/1500x1000" data-fancybox="images">
                <img src="https://source.unsplash.com/eWFdaPRFjwE/240x160" />
            </a>

            <a href="https://c1.staticflickr.com/9/8148/29324593462_abebaddc38_k.jpg" data-fancybox="images">
                <img src="https://c1.staticflickr.com/9/8148/29324593462_f890687b7a_m.jpg" />
            </a>

            <a href="https://c2.staticflickr.com/6/5499/30972532232_051e1dc57e_h.jpg" data-fancybox="images">
                <img src="https://c2.staticflickr.com/6/5499/30972532232_e9a298a0c5_m.jpg" />
            </a>

            <a href="https://source.unsplash.com/i2KibvLYjqk/1500x1000" data-fancybox="images">
                <img src="https://source.unsplash.com/i2KibvLYjqk/240x160" />
            </a>

            <a href="https://source.unsplash.com/cZVthlrnlnQ/1500x1000" data-fancybox="images">
                <img src="https://source.unsplash.com/cZVthlrnlnQ/240x160" />
            </a>

            <a href="https://source.unsplash.com/vddccTqwal8/1500x1000" data-fancybox="images">
                <img src="https://source.unsplash.com/vddccTqwal8/240x160" />
            </a>
          </p>


        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block pageBasedJS %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
{% endblock %}
