{% extends 'second_base.html' %}
{% load static %}

<!-- {% block pageBasedCSS %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css">
{% endblock %} -->

{% block main %}

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted" id="form1-54346" style="background-color: #efefef;">
  <div class="mbr-section__container">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-8 col-sm-offset-2 container" style="background-color:white; padding:40px 0;" >
          <div class="imglist" style="padding-left:15px;">
            {% block imgList %}{% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}


{% block pageBasedJS %}{% endblock %}
