{% extends 'base.html' %}
{% load static %}

{% block header %}

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-after-navbar" id="header1-40" data-bg-video="https://www.youtube.com/watch?v=u6KYia3h00U" >
<!-- <section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-after-navbar" id="header1-40" style="background-image: url({% static 'images/nijmegen.jpg' %});" > -->
    <div class="mbr-box__magnet mbr-box__magnet--center-left">
        <!-- <div class="mbr-overlay" style="opacity: 0.6; background-color: #9ACBDB;"></div> -->
        <div class="mbr-box__container mbr-section__container container">
            <div class="mbr-box mbr-box--stretched"><div class="mbr-box__magnet mbr-box__magnet--center-left" >
                <div class="row" ><div class=" col-sm-8">
                    <div class="mbr-hero animated fadeInUp">
                            <header>
                                <div class="container">
                                    <div class="intro-text">
                                        <div class="intro-heading">PICA2021</div>
                                    </div>
                                </div>
                            </header>
                        <h1 class="mbr-hero__title"></h1>
                        <p class="mbr-hero__subtext"><br></p>
                    </div>
                    <div class="mbr-buttons btn-inverse mbr-buttons--left"></div>
                </div></div>
            </div></div>
        </div>
        <div class="mbr-arrow mbr-arrow--floating text-center">
            <div class="mbr-section__container container">
                <a class="mbr-arrow__link" href="#about"><i class="glyphicon glyphicon-menu-down"></i></a>
            </div>
        </div>
    </div>
</section>

{% endblock %}


{% block main %}

<section class="mbr-box mbr-section mbr-section--relative mbr-section--bg-adapted mbr-parallax-background" id="about">
  <div class="mbr-overlay" style="opacity: 0.8 ; background-color: white;"></div>
  <div class="mbr-section__container mbr-section__container--std-padding container">
    <div class="row">
      <div class="col-sm-6" data-form-type="formoid">
        <div class="mbr-header mbr-header--center mbr-header--std-padding">
          <h2 class="mbr-header__text">ABOUT</h2>
        </div>

        <p><b>Towards a new generation of Personalized Intelligent Conversational Agents (PICA)</b></p>

        <p>
          The PICA workshop focuses on both long-term engaging spoken dialogue systems and text-based chatbots, as well as conversational recommender systems. Papers can be about different approaches to this: (pilot) evaluations, design guidelines, personalization, natural language processing, protection of privacy and (health) data, (cognitive) architectures and frameworks, implementations, context analyses. We are also very interested in studies on the effectiveness of behaviour change support systems and changing health related behaviour (such as quit smoking, lose weight, etc.). The main goal of the workshop is to stimulate discussion around problems, challenges, possible solutions and research directions regarding the exploitation of NLP and ML techniques to learn user features and use them to personalize the dialogue in the next generation of intelligent conversational agents.
        </p>

      </div>
      <div class="col-sm-1"></div>
      <div class="col-sm-5">
        <a class="twitter-timeline" data-lang="en" data-width="1000" data-height="500" href="https://twitter.com/PICA76793900?ref_src=twsrc%5Etfw">Tweets by PICA76793900 will be displayed here soon.</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
  </div>
</section>

<section class="mbr-box mbr-section mbr-section--relative mbr-section--bg-adapted mbr-parallax-background" id="program" >
    <div class="mbr-overlay" style="opacity: 0.8 ; background-color: #efefef;"></div>
    <div class="mbr-section__container mbr-section__container--std-padding container">
        <div class="row">
            <div class="col-sm-12">
                <div class="row">
                    <div class="mbr-header mbr-header--center mbr-header--std-padding">
                        <h2 class="mbr-header__text">PROGRAM</h2>
                        <!-- <h4 class="section-subheading warning"><b>The section is under construction.</b><br>It will be hidden until the content and the design is ready.</h4> -->
                    </div>
                    <!-- <div id="program-table-wrapper"></div> -->
                    <p style="text-align:center;">To Be Announced</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-parallax-background" id="venue" style="background-image: url({% static 'images/utrecht.jpg' %}); height:100%;">
    <div class="mbr-overlay" style="opacity: 0.8 ; background-color: #e7e7e7;"></div>
    <section id="#features1-42">

        <div class="container" style="margin-top: 50px; margin-bottom:70px;">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="mbr-header__text">VENUE</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="#venue" style="color:black; text-decoration:none;"  target="_blank">
                        <h2 class="section-heading">TBA & Online</h2></a>
                    <h3 class="section-subheading ">To Be Announced - Utrecht</h3>
                    <!-- <p class="black-font">PICA 2021 will be held at To Be Announced, located in the city centre of Nijmegen at about 8 minutes by foot from the central train station. Click the link below for more information, including parking options.</p> -->
                </div>
            </div>
            <!-- <div class="row">
              <a href="https://www.stadsschouwburgendevereeniging.nl/informatie/Parkeren_en_route" style="color:black; text-decoration:none; cursor:pointer;" target="_blank">
                <i class="fa fa-external-link fa-stack-2x"></i>
              </a>
            </div> -->
        </div>
    </section>
</section>

<section class="mbr-section mbr-section--relative mbr-section--fixed-size map" id="overlay-map">
  <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d78456.20167142518!2d5.012452692177598!3d52.08416599709322!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c66f4339d32d37%3A0xd6c8fc4c19af4ae9!2sUtrecht!5e0!3m2!1sen!2snl!4v1613091570574!5m2!1sen!2snl"  width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</section>

<!-- <section class="mbr-section mbr-section--relative mbr-section--fixed-size" id="keynote" style="background-color: rgb(217, 166, 45);">
  <div class="mbr-section__container mbr-section__container--std-padding container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <div class="mbr-header mbr-header--center mbr-header--std-padding" style="margin-bottom:20px;">
              <h2 class="mbr-header__text text-white">KEYNOTE SPEAKER</h2>
            </div>
            <div class="row keynote-row">
              <div class="col-sm-4 text-center" style="margin-bottom: 30px;">
                <h2 id="keynote-name">TBA Speaker Name</h2>
                <h4><b>TBA Speaker Title/Position</b></h4>
              </div>
              <div class="col-sm-4 text-center" style="margin-bottom: 30px;">
                <img id="keynote-img" src="{% static 'images/keynote-dummy.png'%}"/>
              </div>
              <div class="col-sm-4 text-center">
                <p>
                  TBA Speaker Introduction. TBA Speaker Introduction. TBA Speaker Introduction. TBA Speaker Introduction. TBA Speaker Introduction. TBA Speaker Introduction. TBA Speaker Introduction. TBA Speaker Introduction. TBA Speaker Introduction.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="content-2 col-4" id="sponsors" style="background-color: rgb(255, 255, 255);">

  <div class="container">
    <div class="col-md-12">
      <div class="mbr-header mbr-header--center mbr-header--std-padding">
        <h2 class="mbr-header__text">SPONSORS</h2>
      </div>
    </div>
    <h4 class="text-center">
      This workshop is sponsored by the NWO projects:
    <h4>
    <h3 class="section-heading text-center">
      <a href="http://bliss.ruhosting.nl/">BLISS</a>  &amp; <a href="https://www.nwo.nl/projecten/406di19054-0">Look Who’s Talking</a>.
    </h3>
    <!-- <div class="col-md-12">
      <h4 class="gold">GOLD</h4>
    </div> -->
    <div class="row">
      <div class="thumbnail" style="float: unset; width: 100%;">
        <div class="image row" data-toggle="tooltip" data-placement="bottom" title="NWO: Nederlandse Organisatie voor Wetenschappelijk Onderzoek">
          <a href="http://www.nwo.nl/"  target="_blank">
            <img src="{% static 'images/logos/NWO-logo.jpg'%}">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block pageBasedJS %}
  <script>
    // Transfer Django variables to JS variables
    window.globaldict.urls.program = '{% static "data/program.json" %}';
    window.globaldict.urls.PDFPath = '{% static "on-program/123456.pdf" %}';
    window.globaldict.urls.abstractURL = 'http://pica.cls.ru.nl/#abstract-123456'

    {% if available_pdfs %}
      window.globaldict.availablePDFs = {{ available_pdfs|safe }};
    {% else %}
      window.globaldict.availablePDFs = [];
    {% endif %}

  </script>
  <script src="{% static 'js/program.js' %}"></script>
{% endblock %}
