{% extends 'base.html' %}
{% load static %}

{% block pageBasedCSS %}
  <link rel="stylesheet" href="{% static 'css/team-profile.css' %}" type="text/css">
{% endblock %}

{% block header-title %}PICA Organization{% endblock %}

{% block main %}

<section id="workshop-chairs" class="mbr-box mbr-section mbr-section--relative mbr-section--bg-adapted mbr-parallax-background">
  <div class="mbr-overlay" style="opacity: 0.8 ; background-color: white;"></div>
  <div class="mbr-section__container container">
    <div class="row">
      <div class="col-sm-12">
        <!-- <div class="row">
          <br>
          <div class="mbr-header mbr-header--center mbr-header--std-padding">
              <h2 class="mbr-header__text">Workshop Chairs</h2>
          </div>
        </div> -->
        <div class="row">
          <div class="col-sm-12 mbr-section__container--sm-padding container" style="background-color:white;">
              <!-- The following cards are from: https://www.bootdey.com/snippets/view/bs4-seller-cards -->
              <div class="container">

                  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card user-card">
                      <div class="card-block">
                        <div class="user-image">
                          <img src="{% static 'images/organization-photos/hendrickx.jpg' %}" class="img-radius">
                        </div>
                        <h4 class="f-w-600 m-t-25 m-b-10">Iris Hendrickx</h4>
                        <p class="text-muted">Radboud University Nijmegen</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card user-card">
                      <div class="card-block">
                        <div class="user-image">
                          <img src="{% static 'images/keynote-dummy.png' %}" class="img-radius">
                        </div>
                        <h4 class="f-w-600 m-t-25 m-b-10">Federica Cena</h4>
                        <p class="text-muted">University of Torino</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card user-card">
                      <div class="card-block">
                        <div class="user-image">
                          <img src="{% static 'images/organization-photos/basar.jpg' %}" class="img-radius">
                        </div>
                        <h4 class="f-w-600 m-t-25 m-b-10">Erkan Basar</h4>
                        <p class="text-muted">Radboud University Nijmegen</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card user-card">
                      <div class="card-block">
                        <div class="user-image">
                          <img src="{% static 'images/keynote-dummy.png' %}" class="img-radius">
                        </div>
                        <h4 class="f-w-600 m-t-25 m-b-10">Luigi Di Caro</h4>
                        <p class="text-muted">University of Torino</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card user-card">
                      <div class="card-block">
                        <div class="user-image">
                          <img src="{% static 'images/organization-photos/kunneman.jpg' %}" class="img-radius">
                        </div>
                        <h4 class="f-w-600 m-t-25 m-b-10">Florian Kunneman</h4>
                        <p class="text-muted">Vrije University</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card user-card">
                      <div class="card-block">
                        <div class="user-image">
                          <img src="{% static 'images/keynote-dummy.png' %}" class="img-radius">
                        </div>
                        <h4 class="f-w-600 m-t-25 m-b-10">Elena Musi</h4>
                        <p class="text-muted">University of Liverpool</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card user-card">
                      <div class="card-block">
                        <div class="user-image">
                          <img src="{% static 'images/organization-photos/musto.jpg' %}" class="img-radius">
                        </div>
                        <h4 class="f-w-600 m-t-25 m-b-10">Cataldo Musto</h4>
                        <p class="text-muted">University of Bari</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card user-card">
                      <div class="card-block">
                        <div class="user-image">
                          <img src="{% static 'images/keynote-dummy.png' %}" class="img-radius">
                        </div>
                        <h4 class="f-w-600 m-t-25 m-b-10">Amon Rapp</h4>
                        <p class="text-muted">University of Torino</p>
                      </div>
                    </div>
                  </div>

                  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="card user-card">
                      <div class="card-block">
                        <div class="user-image">
                          <img src="{% static 'images/organization-photos/waterschoot.jpg' %}" class="img-radius">
                        </div>
                        <h4 class="f-w-600 m-t-25 m-b-10">Jelte van Waterschoot</h4>
                        <p class="text-muted">University of Twente</p>
                      </div>
                    </div>
                  </div>

              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content-2 col-12" id="program-committee" style="background-color: rgb(255, 255, 255);">
  <!-- <div class="mbr-overlay" style="opacity: 0.8 ; background-color: #efefef;"></div> -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="mbr-header mbr-header--center mbr-header--std-padding">
          <h2 class="mbr-header__text">Program Committee</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="list-group">
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Francesca Alloatti</h4>
            <p class="list-group-item-text text-muted">University of Torino, Italy</p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Laura Barnes</h4>
            <p class="list-group-item-text text-muted">University of Virginia, VA, USA</p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Louis ten Bosch</h4>
            <p class="list-group-item-text text-muted">Radboud University Nijmegen, The Netherlands</p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Aurélien Bossard</h4>
            <p class="list-group-item-text text-muted">University of Paris 8, France</p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Tibor Bosse</h4>
            <p class="list-group-item-text text-muted">Radboud University Nijmegen, The Netherlands</p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Roel Bouman</h4>
            <p class="list-group-item-text text-muted">Radboud University Nijmegen, The Netherlands</p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Mario Cataldi</h4>
            <p class="list-group-item-text text-muted">University of Paris 8, France</p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Anita Cremers</h4>
            <p class="list-group-item-text text-muted">TNO, The Netherlands</p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Marco de Gemmis</h4>
            <p class="list-group-item-text text-muted">University of Bari, Italy</p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Arjan van Hessen</h4>
            <p class="list-group-item-text text-muted">University of Twente, The Netherlands</p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Dirk Heylen</h4>
            <p class="list-group-item-text text-muted">University of Twente, The Netherlands</p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Evelien Heyselaar</h4>
            <p class="list-group-item-text text-muted">Radboud University Nijmegen, The Netherlands</p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Dietmar Jannach</h4>
            <p class="list-group-item-text text-muted">University of Klagenfurt, Austria</p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Emiel Krahmer</h4>
            <p class="list-group-item-text text-muted">Tilburg University, The Netherlands</p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Fedelucio Narducci</h4>
            <p class="list-group-item-text text-muted">Polytechnic University of Bari, Italy</p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Giovanni Siragusa</h4>
            <p class="list-group-item-text text-muted">University of Torino, Italy</p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Helmer Strik</h4>
            <p class="list-group-item-text text-muted">Radboud University Nijmegen, The Netherlands</p>
          </div>
          <div class="list-group-item">
            <h4 class="list-group-item-heading">Svitlana Vakulenko</h4>
            <p class="list-group-item-text text-muted">University of Amsterdam, The Netherlands</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

{% endblock %}

{% block pageBasedJS %}
  <script>
    $.getJSON(window.globaldict.urls.dates, function (data) {
      var toPush = $('<div>', {
        class: 'col-sm-10 col-sm-offset-1'
      });
      data.forEach(function (item) {
        toPush.append($('<h4>', {
          class: 'blue',
          text: item.title
        }));
        toPush.append($('<p>', {}));
        item.dates.forEach(function (impDate) {
          var spanClass = (impDate.active) ? '' : 'inactive'
          toPush.append($('<span>', {
            class: spanClass
          }).append($('<b>', {
            text: impDate.text + ': '
          })).append(impDate.date));
          toPush.append($('<br>'));
        });
        toPush.append($('<br>'));
      });
      $('#dates-table').html(toPush);
    });
  </script>
{% endblock %}
