{% extends 'gallery_base.html' %}
{% load static %}

{% block header %}PHOTOS{% endblock %}

{% block imgList %}

  {% if photo_paths %}

    {% for pp in photo_paths %}

      <a data-fancybox="group" data-caption="If you want this photo to be removed, please let us know by email at <a href'mailto:clin28@cls.ru.nl'>clin28@cls.ru.nl</a>" href="{% static pp.original %}">
        <img class="clin-photo" src="{% static pp.thumbnail %}" alt="">
      </a>

    {% endfor %}

  {% else %}

  No photos to be shown.

  {% endif %}

{% endblock %}

{% block pageBasedJS %}{% endblock %}
