{% extends 'second_base.html' %}
{% load static %}

{% block header %}SHARED TASK: SPELLING CORRECTION{% endblock %}

{% block main %}

<section class="mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted" id="form1-54346" style="background-color: #efefef;">

  <div class="mbr-section__container">
    <div class="row">
      <div class="col-sm-12">
        <div class="col-sm-8 col-sm-offset-2 mbr-section__container--std-padding container" style="background-color:white;">
          
          <div class="col-sm-10 col-sm-offset-1">

            <p>Last update: 07-12-2017</p>

            <h4 class="blue">Task description</h4>

            <p>
              Automatic spell checking and correction has been subject of research for decades. Although state of the art spell checkers perform reasonably well for everyday-life applications, reaching high accuracy remains to be a challenging task. This shared task focuses on the detection and correction of spelling errors in Dutch Wikipedia texts. Wikipedia articles aim to be standard-Dutch texts, which may contain jargon. The corrections are evaluated in accordance with the <a href="http://woordenlijst.org/">Woordenlijst Nederlandse Taal</a> and the <a href="http://woordenlijst.org/leidraad">Leidraad</a>.
            </p>

            <p>
              <i>Note:</i>

              <ul>
                <li> Submitted spelling correctors will be evaluated for detection and correction of the errors such as listed below. The spelling errors do not have to be categorized into the categories that are listed below – only detected and corrected.</li>
                <li> Although we discriminated between numbers in the form of digits (‘18’) versus fully written numbers (‘achttien’) in the validation data for numbers up to twenty, i.e. we corrected digits to fully written words, we will not regard them as errors when evaluating your system’s output. In other words, digits do not have to be converted to fully written words by your spelling corrector.</li>
                <li> Although we annotated the documents carefully, we cannot assure that the annotations are perfect. If you suspect that an annotation is incorrect or missing, please let us know via email and we will revise the annotation.</li>
                <li> In case of doubt, the Shared Task organization will make decisions about which variations we regard to be correctly spelled.</li>
              </ul>
            </p>

            <h4 class="blue">Errors to detect and correct</h4>

            <p>In particular, this task addresses the detection and correction of the types of spelling errors listed below.</p>

            <p>
              <ul>
                <li> <i>real-word confusions</i>, word is confused with a near neighbor (confusion with non-native spelling, homophony, grammatical errors, et cetera):
                  <ul>
                    <li> ik wordt → ik word </li>
                    <li> stijl → steil </li>
                    <li> hobbies → hobby’s </li>
                    <li> me → mijn </li>
                    <li> als → dan </li>
                  </ul>
                </li>
                <li> <i>split errors</i>, compound words which are incorrectly separated:
                  <ul>
                    <li> beleids medewerker → beleidsmedewerker </li>
                    <li> lang durig → langdurig </li>
                  </ul>
                </li>
                <li> <i>runon errors</i>, incorrect concatenation of words:
                  <ul>
                    <li> etcetera → et cetera </li>
                    <li> zeidat → zei dat </li>
                  </ul>
                </li>
                <li> <i>missing words</i>, sentence is ungrammatical due to missing elements:
                  <ul>
                    <li> samen met vrouw die → samen met de vrouw die </li>
                  </ul>
                </li>
                <li> <i>redundant words</i>, sentence is ungrammatical due to redundant elements:
                  <ul>
                    <li> door doordat → doordat </li>
                  </ul>
                </li>
                <li> <i>missing punctuation</i> missing hyphenation marks (other cases of missing punctuation are excluded from the task):
                  <ul>
                    <li> autoongeluk → auto-ongeluk </li>
                  </ul>
                </li>
                <li> <i>redundant punctuation</i>, redundant hyphenation marks (other cases of redundant punctuation are excluded from the task):
                  <ul>
                    <li> co-assistent → coassistent </li>
                  </ul>
                </li>
                <li> <i>capitalisation errors</i>, incorrect use of capital letters:
                  <ul>
                    <li> Joodse → joodse </li>
                    <li> Minister van Onderwijs → minister van Onderwijs </li>
                    <li> amstelveen → Amstelveen </li>
                  </ul>
                </li>
                <li> <i> archaic spelling</i>, outdated spelling:
                  <ul>
                    <li> aktie → actie </li>
                    <li> paardebloem → paardenbloem </li>
                  </ul>
                </li>
                <li> <i>non-word errors</i>, words that do not exist in Dutch:
                  <ul>
                    <li> voek → boek </li>
                    <li> assrtief → assertief </li>
                  </ul>
                </li>
              </ul>
            </p>

            <h4 class="blue">Data and Evaluation</h4>

            <p>
              The data and evaluation scripts are shared through  <a href="https://github.com/LanguageMachines/CLIN28_ST_spelling_correction">the GitHub repository</a>.
              We initially delivered three annotated documents as example documents. A validation set consisting of 20 annotated Wikipedia articles was added in November and serves as the primary validation dataset. In December, a full test set containing 30 unannotated documents was released. The documents are presented both in FoLiA XML format and JSON format. The documents may contain zero, one or more spelling errors.
              Detection and correction of spelling errors are evaluated separately, in terms of precision, recall and F-score. The evaluation script we will use to determine the quality of the submissions can be found in the repository. The evaluation script accepts JSON documents as input, therefore we included a FoLiA XML-to-JSON script in the repository, and a validation script to check the FoLiA XML format as well.
            </p>


            <h4 class="blue">Checklist for participation</h4>
            <ul>
              <li>1. Register your group through <a href="https://drive.google.com/open?id=1Mv4muED9D_oZIIzKurcgbhrI3zHppY2V8wCqqsIcBGQ">this form</a>.</li>
              <li>2. Develop the best spelling checking and correction system ever, with the aid of the validation documents and the evaluation script.</li>
              <li>3. Run your system on the test documents.</li>
              <li>4. Zip your source code and the output documents and send them to <a href="mailto:sharedtask.clin28@gmail.com"  target="_blank">sharedtask.clin28@gmail.com</a> before the submission deadline.</li>
            </ul>

            <h4 class="blue">Important dates</h4>
            <div id="shared-task-dates"></div>

            <h4 class="blue">Questions or remarks?</h4>
            For questions or suggestions about the Shared task, contact us at <a href="mailto:sharedtask.clin28@gmail.com"  target="_blank">sharedtask.clin28@gmail.com</a>. <br>
            For questions about the 28th CLIN conference in general, contact us at <a href="mailto:clin28@cls.ru.nl"  target="_blank">clin28@cls.ru.nl</a>.

          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}

{% block datesJS %}
  <script>
    $.getJSON(window.globaldict.urls.dates, function (data) {
      console.log(data);
      var toPush = $('<ul>', {});
      data.forEach(function (item) {
        if (item.title.includes('Shared task')) {
          item.dates.forEach(function (impDate) {
            var spanClass = (impDate.active) ? '' : 'inactive'
            toPush.append($('<li>', {
            }).append($('<span>', {
              class: spanClass
            }).append(impDate.text + ': ' + impDate.date)));
          });
        }
      });
      $('#shared-task-dates').html(toPush);
    });
  </script>
{% endblock %}
