{% extends 'second_base.html' %}
{% load static %}

{% block header %}STIL Thesis Prize{% endblock %}

{% block main %}

<section class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--full-height mbr-section--bg-adapted mbr-after-navbar" id="form1-54346" style="background-color: #efefef;">

  <div class="mbr-section__container">
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 mbr-section__container--std-padding container" style="background-color:white;">

            <div class="col-sm-10 col-sm-offset-1">

	      <h3>STIL Thesis Prize</h3>

              <p>
              STIL (Stichting Toepassing Inductieve Leertechnieken) is an association with as its goal the stimulation of research on the aplications of machine learning techniques. Since 2009, STIL sponsors a prize for an MA thesis that describes high quality research in computational linguistics or its applications. This prize of 1000 euro was awarded for the first time during CLIN 2009 in Utrecht, and from that time on a yearly basis during the CLIN meetings.
              </p>

	      <h3>Requirements</h3>

              <p>
                MA theses submitted to and evaluated at a university or organization of higher education in The Netherlands or Flanders are eligible for the prize. The thesis should address a topic in computational linguistics or its applications, and may be written in Dutch or English. The candidates will be evaluated by a jury presided by the organizer of CLIN that year, and will consist further of the organizers of the two preceding CLIN meetings. The jury will decide in consensus to which candidate the prize will be awarded. The jury can also decide not to award a prize or to award the prize to a maximum of two candidates. In the latter case, the money prize will be shared.
              </p>

              <h3>Procedure</h3>
              
	      <p>
              The STIL thesis prize jury 2017 consists of Iris Hendrickx (chair), Vincent Vandeghinste, and Piek Vossen.
              <ul>
                <li> The supervisor of the thesis submits the thesis before December 31, 2017 with a motivation (max 1 page) why the thesis deserves the prize.
                <li> MA theses submitted and evaluated in 2016 or 2017 are eligible for the STIL thesis prize 2017.
                <li> A thesis can be subitted only once for the prize.
                <li> The thesis (in pdf) and the letter will be sent in electronic form by e-mail to Walter Daelemans, chair of the STIL board (walter.daelemans@uantwerpen.be).
                <li> The chairperson of the jury will coordinate the activities of the jury and will provide a motivated decision before CLIN 28.
                <li> The prize will be awarded by a member of the STIL board during CLIN 28.
                <li> The thesis must be available on-line, and will be presented during CLIN 28 by the author.
              </ul>

              </p>	      
              </div>
	   </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
